include ./card_banner_list.pug

mixin banner_list_page(listRandomCharacters)
    div(class="flex h-full overflow-hidden rounded-md shadow-lg")
        each ch in listRandomCharacters
            +cardBanner(ch)