mixin cardBanner(character)
    img(class="w-0 flex-grow object-cover grayscale-[.5] hover:grayscale-0 hover:w-72 hover:contrast-125 duration-500 cursor-crosshair path_card transition-all ease",src=`${character.thumbnail.path}.${character.thumbnail.extension}`, alt=character.name)