include ./templates/head
append allContent
    main(class="flex h-[80vh] items-center justify-center py-6")
        div(class="w-full max-w-md p-4 rounded bg-stone-200")
            p(class="py-2 text-2xl font-bold text-center drop-shadow-sm") Registrarse
            form(class="flex flex-col w-full gap-2", id="form_log_in",method="POST",action="#")
                input(class="px-3 py-1 rounded",type="text", placeholder="Correo Electrónico", name='email')
                input(class="px-3 py-1 rounded",type="password", placeholder="Contraseña",name='password')
                input(class="px-3 py-1 rounded",type="password", placeholder="Contraseña nuevamente",name='password2')
                div(id="box_errors", class="flex flex-col gap-2")
                
                button(class="px-3 py-1 mx-auto font-semibold text-white bg-blue-600 rounded w-fit", type="submit") Registrarse
            p(class="py-2 text-sm text-center") ¿ Ya tienes una cuenta ? 
                a(class="hover:underline", href="/iniciar-sesion") Iniciar Sesion
script
    include ../utils/registrarSesion.js