header(class="p-4 sticky z-50 top-0 items-center bg-gray-300 grid grid-cols-2 text-center")
    section(class=" w-fit")
        a(href="/")
            img( class="w-16", src="https://cdn.logo.com/hotlink-ok/logo-social-sq.png")
    section
        ul(class=" flex font-bold items-center justify-end gap-4 ")
            li(class="text-xl hover:underline")
                a(href="/") Inicio
            li(class="text-xl hover:underline") 
                a(href="/list") Lista
            li(class="text-xl hover:underline") 
                a(href="/opinions") Opiniones
